@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: auto;
  font-family: "Quicksand";
  color: black;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid whitesmoke;
}
.navbar h1 {
  color: red;
  margin-left: -8px;
}
.navbar .link {
  margin-left: 350px;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: red;
}
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid whitesmoke;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: red;
  margin-bottom: 8px;
}